body {
    background: #fef4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
nav ul li {
    display : inline-block;
    margin-right: 40 px important;
    color: darkred;
}
footer{
    margin-bottom: auto;
    width: 800 px;
    background-color:darksalmon;
}